*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    height: 120vh;
}

/* inicio do cabeçalho*/

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../imagens/baby_bear.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.781);
    display: flex;
    flex-direction: column;
}

.cabecalho{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    width: 100%;
    padding: 15px;
    align-items: end;
}

nav p{
    align-self: start;
}
nav a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}
nav a:hover{
    color: white;
    font-size: 25px;
    transition: all 0.5s;
}

a:visited {
    color: rgb(255, 255, 255);
}
ul{
    display: flex;
}

li{
    margin: 0 15px;
    list-style-type: none;
}
/* treco da introdução*/

.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
}

.introducao h2{
    font-size: max(3vw,20px);
    margin-bottom:60px ;

}
.introducao p{
    font-size: max(1.7vw,20px);
    width: 70%;
    text-align: justify;
}
/*fim cabeçalho*/

/*imagem reflexisada */

.reflexo{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../imagens/forest-fall03.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* treco do contato presencial*/


.formulario_visita{
    display: flex;
    height: 80vh;
    color: #fff;
    align-items: center;
}
.formulario_visita form{
    display: flex;
    width: 40%;
    height: 85%;
    display: table;
   
    
}
.formulario_visita fieldset{
    width: 100%;
    border: 4px solid #fff;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}
.formulario_visita fieldset h2{
    font-size: 2vw;
    margin-bottom: 15px;
}
.campos{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.campo-input{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}
input,select{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 70%;
}
.input-span{
    height: 30%;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.enviar{
    padding: 10px;
    border-radius: 20px;
    border: none;
    width: 70%;
    font-size: 1.5vw;
    cursor: pointer;
}
.formulario_visita fieldset select{}
.formulario_visita fieldset select option{}
.formulario_visita fieldset label{}
.formulario_visita fieldset input{}

/* treco contato online*/
.contato_online{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../imagens/forest-river.jpg); 
    background-size: cover;
    height: 90vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.contato_online form{
    display: flex;
    width: 30%;
    height: 70%;
    display: table;
}
.contato_online form fieldset{
    width: 100%;
    border: 4px solid #fff;
    border-radius: 25px;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
}
.mesege{
    display: flex;
    padding: 40px;
}
.contato_online form fieldset h2{
    font-size: 2vw;
}
.contato_online form fieldset .contato{}
.contato_online form fieldset .contato label{}
.contato_online form fieldset .contato input{}
.contato_online form fieldset .contato textarea{
    border-radius: 25px;
}

/* treco do footer*/
footer{
    background-image: url(../imagens/footer-ajude.jpg);
}

.footer_ursos{
    color:rgb(255, 255, 255);
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav_sociais, .nav_info, .nav_plus{
    padding: 0px;
    color:#f6f7f8;
    font-size: 15px;
    display: flex;
}


.nav_sociais ul, .nav_info ul, .nav_plus ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav_sociais li, .nav_info li, .nav_plus li{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.logo{
    margin: 10px;
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
}

.section_copyright{
    margin: 15px;
    float: right;
}

.section_copyright .copyright {
    float: right;
    align-content: center;
}

.logo_urso{
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    display: flex;

}


