

.footer_ursos{
    background-color: rgb(255, 255, 255);
    color: #4b4c4d;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.nav_sociais, .nav_info{
    padding: 0px;
    color:#4b4c4d;
    font-size: 15px;
    display: flex;
}


.nav_sociais ul, .nav_info ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.nav_sociais li, .nav_info li{
    display: flex;
    align-items: center;
}
.logo{
    margin: 10px;
    max-width:25px;
    max-height:25px;
    width: auto;
    height: auto;
}

.section_copyright{
    margin: 15px;
}

.logo_urso{
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
}