body{
    font-family: 'Oswald', sans-serif;
}


header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(../imagens/forest-fall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.781);
}


nav{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 50px 0;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: white;
    font-size: 25px;
    transition: all 0.5s;
}

a:visited {
    color: rgba(255, 255, 255, 0.781);;
}
ul{
    display: flex;
}

li{
    margin: 0 15px;
}

.reserva {
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    padding: 10%;
    transition: 4s;
}

.reserva:hover{
    transform: scale(1.1);
}
/*################# cabeçalho!!!!!! ####################*/

/*###################### MAIN #####################*/
.section_urso_gordo{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(../imagens/urso-gordo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urso-gordo{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    width: 40%;
    margin: 0 45% 0 0;
    padding: 40px;
    transition: 4s;
}

.urso-gordo:hover{
    transform: scale(1.1);
}

/*################ FIM MAIN #####################*/


/*############### FOOTER ##################*/

footer{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url(../imagens/ursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.footer_ursos{
    align-self: flex-end;
}

.texto_footer{
    align-self: center;
    color: rgba(255, 255, 255, 0.911);
    font-size: 30px;
    width: 50%;
    margin: 20%;
}

