body{
    font-family: 'Oswald', sans-serif;
}


header{
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/forest-fall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.781);
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: 22px;
    padding: 25px;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: white;
    font-size: 25px;
    transition: all 0.5s;
}

a:visited {
    color: rgba(255, 255, 255, 0.781);;
}
ul{
    display: flex;
}

li{
    margin: 0 15px;
}

.reserva {
    font-size: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.856);
    padding: 10%;

}
/*################# cabeçalho!!!!!! ####################*/

/*###################### MAIN #####################*/
.section_urso_gordo{
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/urso-gordo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.urso-gordo{
    text-align: center;
    color: rgba(255, 255, 255, 0.911);
    font-size: 30px;
    width: 50%;
    margin: 0 50% 0 0;
    padding: 40px;
}



/*################ FIM MAIN #####################*/


/*############### FOOTER ##################*/

footer{
    width: 100%;
    height: 100vh;
    background-image: url(../imagens/ursos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    position: relative;
}

.footer_ursos{
    background-color: rgb(255, 255, 255);
    color: #4b4c4d;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.footer_ursos nav{
    padding: 0px;
    color:#4b4c4d;
    font-size: 15px;
}

.footer_ursos li{
    display: flex;
    align-items: center;
}

.logo{
    margin: 10px;
    width: 4%;
}

.logo_urso{
    width: 3%;
}